.App {
  text-align: center;
  background-image: url('./assets/clouds.jpg');
  background-size: cover;
  height: 300px;
}
.Container{
  position:absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 90%;
  width:560px;
  background-color: #ffffff;
  border: 1px;
  border-radius: 3px;
}
